#root {
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem;  */
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bgCol{
  background-color: #1e7a55;
}

main {
  padding: 20px;
}

footer {
  /* margin-top: auto; */
  background-color: #1e7a55;
}

.sidebar {
  min-height: 100vh;
  background-color: lightgreen;
}

tCol{
  color: dark;
}