#root {
  max-width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem;  */
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bgCol {
  background-color: #000000;
}

main {
  padding: 20px;
}

footer {
  /* margin-top: auto; */
  background-color: #1e7a55;
}

.sidebar {
  position: fixed;
  min-height: 100vh;
  background-color: lightgreen;
}

Col {
  color: dark;
}

.logo {
  width: 15%; /* Adjust the width to your liking */
  height: 50px; /* Adjust the height to your liking */
  margin-right: 10px; /* Add some space between the logo and text */
}
